<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>Home | oauth2-server-nodejs</title>
</head>
<body>
<h3>Client</h3>
<pre>
client_id: s6BhdRkqt3
client_secret: cf136dc3c1fc93f31185e5885805d
redirect_uri: https://client.example.org/callback,https://client.example.org/callback2
</pre>
<h3>User</h3>
<pre>
username: demouser
password: demopass
</pre>
</body>
</html>
