<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>Sign In | oauth2-server-nodejs</title>
</head>
<body>
<form autocomplete="off" method="post">
  <label for="username">Username</label>
  <input id="username" required type="text" name="username" value="demouser" autofocus>
  <label for="password">Password</label>
  <input id="password" required type="password" name="password" value="demopass">

  <button type="submit">Sign In</button>
</form>
</body>
</html>
